a:hover{
    text-decoration: none;
}

.categoryMenu>ul{
    margin: 0;
    width: 100%;
}
.categoryMenu{
    display: flex;
    width: 300px;
    background-color: #4f4f4f;
    padding: 25px 0px 0px 0px;
    height:auto;
}
.afterHeaderPicture{
    width: 100%;
    height: auto;
}
.categoryMenu ul>li{
    width: auto;
    padding: 10px 0px 10px 20px;
}

.categoryMenu ul>li>span{
    color: #ffffff;
    padding:5px 10px;
    font-size: 24px;
}
.categoryMenu ul>li:hover{
    cursor: pointer;
    background-color: #454545;
}
.categoryView{
    padding:40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
}
.item{
    display: flex;
    justify-content: center;
    align-items: center;
    width:200px;
    height: 220px;
    border: 1px solid #acacac;
    margin-right: 32px;
}
.itemBottom{
    height: 50px;
    width: 200px;
    margin-bottom: 20px;
    background-color: #ffea00;
}
.itemPicture{
    width: 200px;
    height: auto;
}