.header a{
    color: #323232;
    text-decoration: none;
}
.header a:hover{
    color: white;
}
.header .mainMenu{
    height: 100px;
    display: block;
}
.header .hideMainMenu{
    display: none;
}

.bg_header{
    background-color: #323232;
    padding: 0;
}
.header ul{
    list-style-type: none;
    padding:0;
}
.react-responsive-modal-modal {
    max-width: 800px;
    position: relative;
    padding: 0;
    background: #ffffff;
    background-clip: padding-box;
    box-shadow: 0 12px 15px 0 rgba(0,0,0,0.25);
}

.headerCircles{
    display: flex;
    align-items: center;
    height:55px;
    /*margin:0;*/
    padding: 0px 55px;
}

.fb{
    margin-left: 0!important;
}

.fb:hover{
    background-color: #ffdc00!important;
    transition: 0.9s;
}
.tw:hover{
    background-color: #ffdc00!important;
    transition: 0.9s;
}
.ig:hover{
    background-color: #ffdc00!important;
    transition: 0.9s;
}

.phone_1{
    background: #2d2d2d;
    position: absolute;
    display: none;
}

.header .headerRightPart{
    display: flex;
    justify-content: flex-end;
}

.fb,.tw,.ig a:hover{
    color: #000;
}

.fb a{
    color: black;
}

.ig a{
    color: #000;
}

.circle, .fb,.tw,.ig{
    cursor: pointer;
    border-radius: 50px;
    background-color: white;
    height: 40px;
    width: 40px;
    margin: 10px 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    transition: 0.9s;
}
.header .text{
    color:white;
    font-size: 21px;
    font-family: Open Sans;
}

.logoImage:hover{
    -webkit-transform: rotateZ(360deg);
    -ms-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
}

.hide_phone{
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 56px;
    z-index: 100;
    width: 220px;
    text-align: center;
    background: #323232;
    color: white;
    font-family: "Open Sans";
    font-size: 21px;

}


.hide_phone li span{
    padding-left: 10px;
}

.header .phone{
    cursor: pointer;
    padding-top: 15px;
}

.header .phone:hover .phone_1{
    display: block!important;
}
.header .shop_numb{
    position: absolute;
    cursor: pointer;
    border-radius: 50px;
    background-color: #000;
    height: 20px;
    color: #fff;
    width: 20px;
    margin: 0 8px;
    top: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    transition: 0.9s;
}

.header .email{
    cursor: pointer;
    margin:14px 25px;
}
.header .enter{
    margin-top: 14px;
    cursor: pointer;
}
/*dropdown menu left part*/
.header .menu-left-part{
    z-index: 50;
    padding-left: 40px;
}
.header .menu-left-part ul
{
    list-style:none;
    position:relative;
    float:left;
    margin:0;
    padding:0;
}

.header .menu-left-part ul span
{
    display:block;
    color:#323232;
    text-decoration:none;
    font-size:23px;
    padding: 30px 50px 40px 15px;
    font-family:Open Sans;
}

.header .menu-left-part ul li
{
    position:relative;
    float:left;
    margin:0;
    padding:0;
}

.header .menu-left-part ul li span:hover
{
    cursor: pointer;
    color:#dfa46a
}

.header .menu-left-part ul ul
{
    display:none;
    position:absolute;
    z-index: 100;
    top:96%;
    left:0;
    background:#fff;
    padding-bottom:10px;
}

.header .menu-left-part ul ul li
{
    margin:0px 10px;
    float:none;
    width:200px
}
.header .menu-left-part ul ul li:hover{
    background-color: #fe9228;
}
.header .menu-left-part ul ul span
{
    line-height:120%;
    padding:10px 15px;
}
.header .menu-left-part ul ul span:hover{
    cursor: pointer;
    color:#fff;
}

.header .menu-left-part ul ul ul
{
    top:0;
    left:100%
}

.header .menu-left-part ul li:hover > ul
{
    display:block
}
/*dropdown menu right part*/
.header .menu-right-part{
    z-index: 50;
    padding-right: 40px;
}
.header .menu-right-part ul
{
    list-style:none;
    position:relative;
    float:left;
    margin:0;
    padding:0
}

.header .menu-right-part ul span
{
    display:block;
    color:#323232;
    text-decoration:none;
    font-size:23px;
    padding: 30px 15px 40px 50px;
    font-family:"Open Sans"
}

.header .menu-right-part ul li
{
    position:relative;
    float:left;
    margin:0;
    padding:0
}

.header .menu-right-part ul>li>span:hover
{
    cursor: pointer;
    color:#dfa56a;
}
.header .menu-right-part ul ul
{
    display:none;
    position:absolute;
    z-index: 100;
    top:96%;
    right:0;
    background:#fff;
    padding-bottom:10px;
}

.header .menu-right-part ul ul li
{
    float:none;
    width:200px;
    margin:0px 10px;
}
.header .menu-right-part ul ul li:hover
{
    color:#dfa56a;
    background-color: #fe9228;
}

.header .menu-right-part ul ul span
{
    line-height:120%;
    padding:10px 15px
}
.header .menu-right-part ul ul span:hover{
    cursor: pointer;
    color:#fff;
}
.header .menu-right-part ul ul ul
{
    top:0;
    right:100%
}

.header .menu-right-part ul li:hover > ul
{
    display:block
}
.header .authorization{
    background-color: #5f5f5f;
    padding: 35px 35px 35px 35px;
}
.header .authorizationHeader{
    width:100%;
    height:50px;
    background-color: #fed328;
}
.header .authGroup{

}
.header .authInputGroup{
    margin-bottom: 20px;
    height:50px;
}
.header .authInputIcon{
    background-color: #fed328;
    width: 50px;
    height: 50px;
    font-size: 30px;
    color: white;
}
.header .authGroup input{
    height: 50px;
    font-size: 20px;
    padding-left: 15px;
    width: 300px;
}
.header .buttonEnter{
    margin: auto;
    cursor: pointer;
    padding:5px 30px;
    background-color: #fed328;
    width:fit-content;
}

.reg_text_1{
    padding: 0!important;
}

.reg_text_1 div{
    float: left;
}

.reg_text_2{
    padding: 0;
}
.reg_text_2 div{
    float: right;
}

.header .reg_forgetPassword{
    margin-top: 20px;
    color: white;
}
.header .rememberMe{
    margin-left: 10px;
    margin-top: 5px;
    color: white;
    cursor: pointer;
}
.header .typeButtons{
    cursor: pointer;
    height:50px;
    background-color: white;
    margin-bottom: 20px;
    width:170px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header .paddingHorizontal15{
    padding:0px 15px;
}
.header .registrationView,.forgerPassword{
    margin: auto;
    cursor: pointer;
}
.header .logoBlock{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}



.header .logo{
    position: relative;
    height:95px;
}
.header .logoTextStyle{
    color: #828282;
    font-size: 20px;
    font-family: "Open Sans";
    font-weight: bold;
    cursor: default;
}
.header .logoTextRight{
    position: absolute;
    bottom: 0px;
    margin-left: 140px;
}
.header .logoTextLeft{
    position: absolute;
    bottom: 0px;
    margin-left: -125px;
}
.header .logoImage{
    cursor: pointer;
    position: absolute;
    z-index: 60;
    transition:all 0.9s ease;
    width: 175px;
    top:-5px
}
.header .consent{
    margin-top: 20px;
    color: #9f9f9f;
    cursor: pointer;
}
.header .hideMenuLogo{
    height: 40px;
    margin-right: 20px;
    cursor: pointer;
}
.header .navbar-brand{
    cursor: pointer;
}
.header .navbar-nav>span{
    margin-top: 5px;
      padding: 10px 0px 10px 0px;
      color: black;
      cursor: pointer;
  }
.header .navbar-nav>span:hover{
    color: #fe9228;
}
.header .navbar-nav>ul>li>span{
    padding: 5px 0px 5px 10px;
    cursor: pointer;
}
.header .navbar-nav>ul>li:hover{
    background-color: #fe9228;
    color: #fff;
}
.header .manufactName{
    color:#828282;
    padding:0px 25px;
}
@media (max-width: 992px) {
    .header .mainMenu{
        display: none;
    }
    .header .hideMainMenu{
        display: block;
    }
}