ul{
    list-style-type: none;
    padding:0;
}
.main{
    width: 1366px;
}
.header{
    display: flex;
    align-items: center;
    height:55px;
    background-color: #323232;
    padding: 0px 55px;
}
.headerRightPart{
    position: absolute;
    right: 40px;
}
.circle{
    cursor: pointer;
    border-radius: 50px;
    background-color: white;
    height: 40px;
    width: 40px;
    margin: 0px 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}
.text{
    color:white;
    font-size: 21px;
    font-family: Arial;
}
.phone{
    cursor: pointer;
    margin-right: 15px;
}
.email{
    cursor: pointer;
    margin:0px 10px;
}
.enter{
    cursor: pointer;
}
/*dropdown menu left part*/
.menu-left-part{
    z-index: 1000;
    padding-left: 40px;
}
.menu-left-part ul
{
    list-style:none;
    position:relative;
    float:left;
    margin:0;
    padding:0;
}

.menu-left-part ul a
{
    display:block;
    color:#323232;
    text-decoration:none;
    font-size:23px;
    padding: 40px 50px 40px 15px;
    font-family:Arial
}

.menu-left-part ul li
{
    position:relative;
    float:left;
    margin:0;
    padding:0;
}

.menu-left-part ul li a:hover
{
    color:#dfa46a
}

.menu-left-part ul ul
{
    display:none;
    position:absolute;
    z-index: 2;
    top:100%;
    left:0;
    background:#fff;
    padding-bottom:10px;

}

.menu-left-part ul ul li
{
    margin:0px 10px;
    float:none;
    width:200px
}
.menu-left-part ul ul li:hover{
    background-color: #fe9228;
}
.menu-left-part ul ul a
{
    line-height:120%;
    padding:10px 15px;
}
.menu-left-part ul ul a:hover{
    color:#fff;
}

.menu-left-part ul ul ul
{
    top:0;
    left:100%
}

.menu-left-part ul li:hover > ul
{
    display:block
}
/*dropdown menu right part*/
.menu-right-part{
    z-index: 1000;
    padding-right: 40px;
}
.menu-right-part ul
{
    list-style:none;
    position:relative;
    float:left;
    margin:0;
    padding:0
}

.menu-right-part ul a
{
    display:block;
    color:#323232;
    text-decoration:none;
    font-size:23px;
    padding: 40px 15px 40px 50px;
    font-family:Arial
}

.menu-right-part ul li
{
    position:relative;
    float:left;
    margin:0;
    padding:0
}

.menu-right-part ul>li>a:hover
{
    color:#dfa56a;
}
.menu-right-part ul ul
{
    display:none;
    position:absolute;
    z-index: 2;
    top:100%;
    right:0;
    background:#fff;
    padding:0
}

.menu-right-part ul ul li
{
    float:none;
    width:200px;
    margin:0px 10px;
}
.menu-right-part ul ul li:hover
{
    color:#dfa56a;
    background-color: #fe9228;
}

.menu-right-part ul ul a
{
    line-height:120%;
    padding:10px 15px
}
.menu-right-part ul ul a:hover{
    color:#fff;
}
.menu-right-part ul ul ul
{
    top:0;
    right:100%
}

.menu-right-part ul li:hover > ul
{
    display:block
}
.authorization{
    background-color: #5f5f5f;
    padding: 35px 35px 35px 35px;
}
.authorizationHeader{
    width:100%;
    height:50px;
    background-color: #fed328;
}
.authGroup{

}
.authInputGroup{
    margin-bottom: 20px;
    height:50px;
}
.authInputIcon{
    background-color: #fed328;
    width: 50px;
    height: 50px;
    font-size: 30px;
    color: white;
}
.authGroup input{
    height: 50px;
    font-size: 20px;
    padding-left: 15px;
    width: 300px;
}
.buttonEnter{
    cursor: pointer;
    padding:5px 20px;
    background-color: #fed328;
    width:fit-content;
}
.reg_forgetPassword{
    margin-top: 20px;
    color: white;
}
.rememberMe{
    margin-left: 10px;
    color: white;
    cursor: pointer;
}
.typeButtons{
    cursor: pointer;
    height:50px;
    background-color: white;
    margin-bottom: 20px;
    width:170px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.paddingHorizontal15{
    padding:0px 15px;
}
.registrationView,.forgerPassword{
    cursor: pointer;
}
.logoBlock{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}
.logo{
    position: relative;
    height:114px;
}
.logoTextStyle{
    color: #828282;
    font-size: 20px;
    font-family: Arial;
    font-weight: bold;
    cursor: default;
}
.logoTextRight{
    position: absolute;
    bottom: 0px;
    margin-left: 140px;
}
.logoTextLeft{
    position: absolute;
    bottom: 0px;
    margin-left: -125px;
}
.logoImage{
    position: absolute;
    z-index: 1;
    width: 175px;
    top:20px;
}